body {
    background-color: #e8dcca;
}
.navbar {
    background-color: #e3caac;
}
#btnToSingle{
    background-color: #a3d977;
    
}
#btnToSingle:hover{
    background-color: #e3caac;
}

#btnToDual{
    background-color: #a3d977;
    
}
#btnToDual:hover{
    background-color: #e3caac;
}

